.el-text {
    align-self: center;
    margin: 0;
    padding: 0;
    font-size: var(--el-text-font-size);
    color: var(--el-text-color);
    word-break: break-all;
    --el-text-font-size: var(--el-font-size-base);
    --el-text-color: var(--el-text-color-regular);
}

.mx-1 {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}